<div class="container">
  <div class="header" >

    <div class="main-icon border-line">
      <img src="../assets/img/sun.png">
    </div>

    <div class="main-display border-line">
      <div>
        <h1>Warszawa</h1>
        <h2>13:00</h2>
      </div>

      <div>
        <h1>15&deg;</h1>
        <div style="width: 100px;">
          <img src="../assets/img/sun-clouds.png">
        </div>
      </div>
    </div>
  </div>
  <div class="main-content border-line">
    <button (click)="getData()">pobierz</button>
    <h1>halo halo halo</h1>
    
  </div>
</div>